<!DOCTYPE html>
<html>
  <head>
    <title>RubyCodingTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render "shared/navbar" %>
    </header

    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <footer>
      <%= render "shared/footer" %>
    </footer>

    
    <% if notice %>
        <script>
            Materialize.toast('<%= notice %>', 4000, 'green')
        </script>
    <% end %>

    <% if alert %>
        <script>
            Materialize.toast('<%= alert %>', 4000, 'red')
        </script>
    <% end %>

  </body>
</html>
